/*ubicacion*/
.btn-padi-dsk { z-index: 9999; background: url(https://www.bancopatagonia.com.ar/assets/images/layout/padi.gif) no-repeat; background-size: 100%;  width: 170px; height: 142px; position: fixed; bottom: 10px; right: 10px; cursor: pointer; border-radius: 40px;}
.ifr-padi-xy { z-index: 10000; display: none; position: fixed; bottom: 0; right: 0; width: 390px; height: 50%;}
/*barra padi*/
.ifr-padi-xy nav, .ifr-padi-xy nav button { font-size: 14px; }
.ifr-padi-xy nav { position: absolute; width: 100%; height: 45px; margin-top: -45px; padding: 16px 40px 0 40px; background: linear-gradient(135deg, rgba(0,185,173,1) 0%,rgba(0,73,135,1) 50%); color: #fff; }
.ifr-padi-xy nav i { position: absolute; left: 10px; top: 10px; width: 24px; height: 28px; background: url(https://www.bancopatagonia.com.ar/assets/images/layout/icon-padi.svg) no-repeat;}
.ifr-padi-xy nav button { position: absolute; right: 15px; top: 15px; color: #fff; }
.ifr-padi-xy nav button:hover { color: #fff; opacity: 0.5; }
/*iframe*/
.ifr-padi-xy iframe { width: 100%; height: 100%; border: 0; background: #fff;}
/**/
/*
@media screen and (orientation: landscape) and (max-width: 1199px) {
    .ifr-padi-xy { height: 50%;}
}
*/
@media screen and (max-width: 1199px) {
    .btn-padi-dsk { display: none; }
    .ifr-padi-xy { bottom: 62px; height: 40%; }
}
@media screen and (max-width: 500px) {
    .ifr-padi-xy { width: 100%; }
}